<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    {{> navbar}}


    <div class="form-container">

        <div class="form-card-container">
            <form id="projectForm" class="form-card" method="post" action="/form-projects">

                <h2>Add New Project</h2>

                <input type="text" id="namaP" placeholder="Project Name" name="title">
                <textarea id="deskripsiP" placeholder="Description" name="description"></textarea>

                <input type="file" id="image" class="img-input">

                {{!-- <div class="label-project">
                    <label><input type="checkbox" id="nodeJs">Node JS</label>
                    <label><input type="checkbox" id="reactJs">React JS</label>
                    <label><input type="checkbox" id="nextJs">Next JS</label>
                    <label><input type="checkbox" id="typeSc">TypeScript</label>
                </div> --}}
                <select name="select" id="">
                    <option value="node Js">node js</option>
                    <option value="react js">react js</option>
                    <option value="next js">next js</option>
                </select>



                <button type="submit">Add Project</button>

            </form>
        </div>

        <div class="hasil-container">
            <h2>My Project</h2>
            <input type="text" id="searchProject" class="serch" placeholder="Search Project">

            <div class="hasil-projects" id="projectList">

                {{#each projects}}

                <div class="card-Projects">
                    <img src="" alt="">
                    <h3>{{ title }}</h3>
                    <div class="des-container">
                        <p>{{ description}}</p>
                    </div>
                    <p class="tech">{{select}}</p>
                    <div class="button-card-project">
                        <form action="show/{{id}}">
                            <button class="show-button" type="submit">show<i
                                    class="fa-regular fa-eye"></i></button>
                        </form>
                        <form action="/edit/{{id}}">
                            <button type="submit" class="deleteProject">Edit</button>
                        </form>
                        <form action="/delet/{{id}}" method="post">
                            <button type="submit" class="deleteProject" onclick="return confirm('apakah anda yakin ingen menghapus priject ini?')">Delet</button>
                        </form>
                    </div>
                </div>

                {{/each}}

            </div>
        </div>
    </div>



</body>

</html>